<h1><%= @myheader%></h1>

<table>
  <tr>
    <th>Personnel Name</th>
    <th>Document Name</th>
    <th>Due Date</th>

  </tr>


  <% @documents.each do |d| %>
    <tr class=<%= cycle("odd","even")%>>
      <td>
        <%= d.personnel.name %>
      </td>
      <td>
        <%= d.name%>
      </td>
      <td>
        <%= d.enddate.strftime("%d/%m/%Y") %>
      </td>

    </tr>
  <% end %>
</table>
