
<h1>All Personnel</h1>

<%= will_paginate %>

<%= form_tag(personnels_path, method: :get) do %>
  <%= text_field_tag :searchterm, params[:searchterm] %>
  <%= submit_tag 'Search by Name', name: nil  %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Personnel No</th>
    <th>Job Description</th>
    <th>Active</th>
    <th>

    </th>
  </tr>


  <% @personnels.each do |p| %>
    <tr>
      <td>
        <%= link_to p.name, edit_personnel_path(p) %>
      </td>
      <td>
        <%= p.pno%>
      </td>
      <td>
        <%=p.jobdescription %>
      </td>
      <td>
        <%=p.status %>
      </td>
      <td>
        <%= link_to 'Documents', '#'  if p.status%>
      </td>

    </tr>

    </li>
  <% end %>
</table>

<%= will_paginate %>
