<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "dTrac", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <!--<li><%#= link_to "Personnel",   '#' %></li>-->
        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Personnel <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "New Card", new_personnel_path %></li>
                      <li><%= link_to "Search", '#' %></li>

                    </ul>
                  </li>
                  <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Reports <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><%= link_to "Past Dates", '#' %></li>
                                <li><%= link_to "Due in a week", '#' %></li>
                                <li class="divider"></li>
                                <li>
                                  <%= link_to "All Personnel" , personnels_path %>
                                </li>
                              </ul>
                            </li>
        <!--<li><%#= link_to "Reports",   '#' %></li>-->
        <li><%= link_to "Log out", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
